# VSC++ related ignores

*.[oO]bj
*.lib
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
preemy/ipch/
preemy/[Oo]bj/
preemy/[Bb]in
preemy/[Dd]ebug*/
preemy/[Rr]elease*/